<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/" style="font-size: 2rem; margin: 1rem"
    >URL SHORTENER</a
  >

  <!-- Links -->
  <ul class="navbar-nav ml-auto" style="margin: 1rem">
    <li class="nav-item">
      <a class="nav-link active" href="/archive">Archive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/about">About</a>
    </li>
  </ul>
</nav>
