<nav class="navbar navbar-webmaster">
        <div class="container">
          <div class="navbar-header">
         
          <a class="navbar-brand" href="/">URL Shortener</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/archive">Archive<span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
            </ul>
         </div>
      </div>
      </nav>