<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <% include ./includes/navbar.ejs %>
  </head>
  <div class="top">
    <h1>About</h1>
  </div>

  <h3 style="text-align: center">Made with ❤ by Anant Mathur</h3>
  <h4 style="margin-left: 10rem">
    <a href="https://github.com/Anantm007/url-shortener" target="_blank"
      >Github repo</a
    >
  </h4>
  <h4 style="margin-left: 10rem">
    <a href="https://www.linkedin.com/in/anant-mathur-61911423/" target="_blank"
      >LinkedIn</a
    >
  </h4>

  <h4 style="margin-left: 10rem">
    <a href="https://anantmathur.me" target="_blank">Portfolio</a>
  </h4>
</html>
