<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- To get current hostname for base URL -->
<script>
    function myFunction() {
      var x = location.hostname;
      document.getElementById("demo").innerHTML= x;
    }
    </script>
</head>


<nav class="navbar navbar-webmaster">
  <div class="container">
    <div class="navbar-header">
   
    <a class="navbar-brand" href="/">URL Shortener</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Archive<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
      </ul>
    <form class="navbar-form navbar-right search-form" role="search">
      <input type="text" class="form-control" placeholder="Search" />
    </form>
  </div>
</div>
</nav>
<body>
   
  <div class="top">
    <h1>URL Shortener</h1>
  </div>
 

  <div class="col-lg-offset-4 col-lg-4" id="panel">
      
      <form action="/shorten" method="POST">
        <br><br><br>
        <div class="group">
            <input type="text" required name="longurl">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Enter Long URL</label>
        </div>
        <br><br>
        <div class="group">
          
            <input type="text" disabled>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Base URL - <%=base%></label>
        </div>


          <div class="group">
              <center> <button type="submit" class="btn btn-warning">SUBMIT </button></center>
          </div>
      </form>

  </div>
</body>

</html>
