<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-webmaster">
  <div class="container">
    <div class="navbar-header">
   
    <a class="navbar-brand" href="/">URL Shortener</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Archive<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
      </ul>
    <form class="navbar-form navbar-right search-form" role="search">
      <input type="text" class="form-control" placeholder="Search" />
    </form>
  </div>
</div>
</nav>
<body>
  <div class="top">
    <h1>URL Shortener</h1>
  </div>
  
  <form action="/shorten" method="POST">
      url:<br>
    <input type="text" name="longurl" value="https://"><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
