<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Navigation bar-->
    <% include ./includes/navbar.ejs %>
  </head>
  <div class="container">
    <h2>Click on the fields to Edit them</h2>
    <br /><br />
    <form action="/edit/<%=url._id%>" method="POST">
      <h4 class="text-danger">Long Url :</h4>
      <input type="text" name="longurl" value="<%=url.longurl%>" required />
      <br /><br />

      <h4 class="text-danger">Short Code :</h4>
      <input type="text" name="code" value="<%=url.code%>" required />
      <br /><br />

      <h4 class="text-danger">Short URL :</h4>
      <input
        type="text"
        name="shortUrl"
        value="<%=url.shorturl%>"
        readonly="readonly"
        required
      />
      <br /><br />

      <button type="submit" class="btn btn-warning">EDIT</button>
    </form>
    <br />
  </div>
  <body></body>
</html>
